//Ce fichier contient le CSS de la Note enchantée

.note__enchantee__main {
    background-color: $color-whiteshade;
    padding-bottom: 10px;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: $font-small;
        border-radius: 20rem;
        text-decoration: none;
        width: 250px;
        height: 50px;
        margin: 30px auto;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

.note__enchantee__title {
    display: flex;
    justify-content: center;
    background-color: $color-whiteshade;

    h2 {
        font-family: $font-logo-title;
        font-size: $font-large;
    }
    a {
        
        display: flex;
        color: $color-txt;
        margin-left: 2rem;
        i {
            display: flex;
            align-items: center;
            font-size: x-large;
        }
    }
}

.note__enchantee__entrees {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    h2 {
        width: 100px;
    }

    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;  
            
            span {
                margin-right: 20px;
            }
        }
    }
}

.note__enchantee__plats {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;    

    h2 {
        width: 100px;
    }
    
    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;

            span {
                margin-right: 20px;
            }
        }
    }
}

.note__enchantee__desserts {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    h2 {
        width: 100px;
    }
    
    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;

            span {
                margin-right: 20px;
            }
        }
    }
}