//Ce fichier contient le CSS du Footer

footer {
    background-color: $color-footer;    
    color: $color-white;
}

ul {
    @media (max-width: $mobile) {
    padding-left: 5%;
    }  
}


ul li {
    list-style-type: none;
    padding: 5px 110px;

    @media (max-width: $mobile) {
        padding: 5px 0;
    }
}

a {
    color: $color-white;
    text-decoration: none;
}

.footer {
    &__contenu {        
        display: flex;
        flex-direction: column;

        &__title {
            margin-bottom: 0px;
            padding-left: 150px;
            padding-top: 1rem;
            font-family: $font-logo-title;

            @media (max-width: $mobile) {
                padding-left: 5%;
            }
        }
        &__txt {
            padding-left: 0.5rem;
        }
        &__icon {
            width: 13px;
            font-size: small;
        }
    }
}

