//Ce fichier contient le CSS du header
.header {
    
    &__title{
        display: flex;
        align-items: center;
        //position: relative;
        justify-content: center;
        font-family: $font-logo-title;
        font-size: 4rem;
        font-weight: bold;
        position: relative;

        a {
            display: flex;
        }
    }
    // Icone qui apparait sur les pages de chaque restaurant et non dans la page principale
    &__icon {
        display: flex;
        font-size: xx-large;
        color: $color-grey;
        position: absolute;
        left: 10%;
        top: 30%;
    }
    &__bg {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: 0 55%;

        &__francaise {
            object-position: 0 62%;
        }
        &__delice {
            object-position: 0 70%;
        }
    }
}