//Ce fichier contient le CSS de la Palette du Goût

/*.header {
    &__bg {
    background: url('../../public/images/la_palette_du_gout.jpg');
    }
}*/
//background: url('../../public/images/la_palette_du_gout.jpg');
.restaurants__main {
    background-color: $color-whiteshade;
    padding-bottom: 10px;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: $font-small;
        border-radius: 20rem;
        text-decoration: none;
        width: 250px;
        height: 50px;
        margin: 30px auto;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

.restaurants__title {
    display: flex;
    justify-content: center;
    background-color: $color-whiteshade;

    h2 {
        font-family: $font-logo-title;
        font-size: $font-large;
    }
    a {
        
        display: flex;
        color: $color-txt;
        margin-left: 2rem;
        i {
            display: flex;
            align-items: center;
            font-size: x-large;
        }
    }
}

.restaurants__entrees {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__enchantee {
        justify-content: left;
        margin-left: 20px;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-left: 0;
        }
    }

    h2 {
        width: 100px;

        span {
            width: 45px;
            border-bottom: 3px solid $color-tertiary;
        }

        @media (max-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }

    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        @media (max-width: $tablet) {
            margin: 10px 25px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;  
            
            span {
                margin-right: 20px;
            }
        }
    }
}

.restaurants__plats {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;    

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__enchantee {
        justify-content: left;
        margin-left: 20px;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-left: 0;
        }
    }

    h2 {
        width: 100px;

        span {
            width: 45px;
            border-bottom: 3px solid $color-tertiary;
        }

        @media (max-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    
    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        @media (max-width: $tablet) {
            margin: 10px 25px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;

            span {
                margin-right: 20px;
            }
        }
    }
}

.restaurants__desserts {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;
    }

    &__enchantee {
        justify-content: left;
        margin-left: 20px;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-left: 0;
        }
    }

    h2 {
        width: 100px;

        span {
            width: 55px;
            border-bottom: 3px solid $color-tertiary;
        }

        @media (max-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    
    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        @media (max-width: $tablet) {
            margin: 10px 25px;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            
        }
        p {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            margin-left: 10px;

            span {
                margin-right: 20px;
            }
        }
    }
}