//Ce fichier contient le CSS de la Palette du Goût

/*.header {
    &__bg {
    background: url('../../public/images/la_palette_du_gout.jpg');
    }
}*/
//background: url('../../public/images/la_palette_du_gout.jpg');
.restaurants__main {
    background-color: $color-whiteshade;
    padding-bottom: 10px;

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: $font-small;
        border-radius: 20rem;
        text-decoration: none;
        width: 250px;
        height: 50px;
        margin: 30px auto;
        background: linear-gradient(to bottom right, $color-secondary, $color-primary);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}

.restaurants__title {
    display: flex;
    justify-content: center;
    background-color: $color-whiteshade;

    @media (max-width: $mobile) {
        position: relative;
        z-index: 1;
        margin-top: -47px;
        border-top-left-radius: 3rem;
        border-top-right-radius: 3rem;
    }

    h2 {
        font-family: $font-logo-title;
        font-size: $font-large;

        @media (max-width: $mobile) {
            font-size: $font-medium;
        }
    }
    a {
        
        display: flex;
        color: $color-txt;
        margin-left: 2rem;
        i {
            display: flex;
            align-items: center;
            font-size: x-large;
        }
    }
}

.restaurants__entrees {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: $mobile) {
        padding-top: 0;
    }

    &__enchantee {
        justify-content: left;
        margin-left: 20px;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-left: 0;
        }
    }

    h2 {
        display: flex;
        width: 100px;

        span {
            width: 45px;
            border-bottom: 3px solid $color-tertiary;
        }

        @media (max-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        @media (max-width: $mobile) {
            justify-content: flex-start;
            padding-left: 7%;
        }
    }

    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        @media (max-width: $tablet) {
            margin: 10px 25px;
        }

        @media (max-width: $mobile) {
            margin: 10px 15px;
            width: 345px;
            min-width: 0;
        }

        div {
            height: inherit;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        p {
            //text-overflow: ellipsis; met des "..." si le texte déborde
            display: flex;
            justify-content: space-between;
            margin-top: 0;

            .restaurants__entrees__desc {
                margin-top: 5px;
                margin-left: 10px;
                margin-bottom: 0;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(70%);
            }

            .restaurants__entrees__prix {
                margin-right: 20px;
                margin-top: 5px;
                font-weight: bold;

                @media (max-width: $mobile) {
                    flex-shrink: 0;
                }
            }
        }
    }
}

.restaurants__plats {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;    

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: $mobile) {
        padding-top: 0;
    }

    &__enchantee {
        justify-content: left;
        margin-left: 20px;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-left: 0;
        }
    }

    h2 {
        display: flex;
        width: 100px;

        span {
            width: 45px;
            border-bottom: 3px solid $color-tertiary;
        }

        @media (max-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        @media (max-width: $mobile) {
            justify-content: flex-start;
            padding-left: 7%;
        }
    }
    
    a {
        display: flex;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        @media (max-width: $tablet) {
            margin: 10px 25px;
        }

        @media (max-width: $mobile) {
            margin: 10px 15px;
            width: 345px;
            min-width: 0;
        }

        div {
            height: inherit;
        }
        
        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        p {
            //text-overflow: ellipsis; met des "..." si le texte déborde
            display: flex;
            justify-content: space-between;
            margin-top: 0;

            .restaurants__plats__desc {
                margin-top: 5px;
                margin-left: 10px;
                margin-bottom: 0;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(70%);
            }

            .restaurants__plats__prix {
                margin-right: 20px;
                margin-top: 5px;
                font-weight: bold;

                @media (max-width: $mobile) {
                    flex-shrink: 0;
                }
            }
        }
    }
}

.restaurants__desserts {
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        justify-content: center;
    }

    @media (max-width: $mobile) {
        padding-top: 0;
    }

    &__enchantee {
        justify-content: left;
        margin-left: 20px;

        @media (max-width: $tablet) {
            justify-content: center;
            margin-left: 0;
        }
    }

    h2 {
        display: flex;
        width: 100px;

        span {
            width: 55px;
            border-bottom: 3px solid $color-tertiary;
        }

        @media (max-width: $tablet) {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        @media (max-width: $mobile) {
            justify-content: flex-start;
            padding-left: 7%;
        }
    }
    
    a {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        margin: 0 25px;
        background-color: $color-white;
        color: $color-txt;
        border-radius: 1rem;
        width: 400px;
        height: 75px;

        @media (max-width: $tablet) {
            margin: 10px 25px;
        }

        @media (max-width: $mobile) {
            margin: 10px 15px;
            width: 345px;
            min-width: 0;
        }

        div {
            height: inherit;
        }

        h3 {
            margin-top: 15px;
            margin-bottom: 5px;
            margin-left: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
        }
        p {
            //text-overflow: ellipsis; met des "..." si le texte déborde
            display: flex;
            justify-content: space-between;
            margin-top: 0;

            .restaurants__desserts__desc {
                margin-top: 5px;
                margin-left: 10px;
                margin-bottom: 0;
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: calc(70%);
            }

            .restaurants__desserts__prix {
                margin-right: 20px;
                margin-top: 5px;
                font-weight: bold;

                @media (max-width: $mobile) {
                    flex-shrink: 0;
                }
            }
        }
    }
}